* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: teal;
  color: white;
  line-height: 1.6;
  text-align: center;
}

#showcase {
  height: 300px;
}
#showcase h1 {
  font-size: 50px;
  line-height: 1.4;
  position: relative;
  animation: head;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes head {
  0% {
    top: -50px;
  }
  100% {
    top: 200px;
  }
}

#content {
  max-width: 960px;
  margin: auto;
  padding: 0 30px;
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes content {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}

.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border: white 1px solid;
  margin-top: 30px;
  opacity: 0;
  animation-name: btn;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;

  transition-property: transform;
  transition-duration: 1s;
}

.btn:hover {
  transform: rotateY(180deg);
}

@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
